@media screen and (max-width:1200px) {
  .custom-profile-img-container {
    padding: 0;
    margin: 2rem 0;
  }

  #about {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 992px) {
  .custom-brand, 
  .fa-bars,
  .custom-toggler,
  #burger-nav {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }

  .nav-links-container, 
  .social-navs-container {
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }

  .nav-link,
  .fa-2x {
    padding: 1rem;
    margin: 0 2rem;
  }

  .project,
  .portfolio-content {
    margin: 2rem 0;
  }

  .portfolio-content-cont {
    margin-bottom: 0;
  }

  .tech-profs {
    padding: 2rem;
  }

  .tech-profs-cont {
    margin: 5rem 0;
  }

  .tech-prof-list {
    margin-bottom: 4rem;
  }

  .center-col {
    border: none;
    border-top: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
    padding-top: 4rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-fa {
    padding: 0;
  }
}

@media screen and (max-width: 460px) {
  .section-heading {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
  
  .section-text-content {
    padding: 0;
    margin: 2rem 0;
  }

  .featured-content {
    margin-top: 2rem;
  }
}