/*insert media breaks here

nav breaks at 960px width - insert burger bar from max 968px 
about 960px also, display photo underneath or above text. 
portfolio doesnt look good around 1000px - change to display block
at 668px change portfolio cards to flex column
contact at 1000px change to display form underneath, width of text = 100%
footer, at 1000px media break, put flex anchors under patricktheodore, at 668, make it flex col. 
*/

@media screen and (max-width: 440px) {
  .custom-brand, 
  .fa-bars {
    font-size: 1.5rem;
  }

  .nav-links-container, 
  .social-navs-container {
    justify-content: center;
    align-items: center;
  }

  .nav-link,
  .fa-2x {
    padding: 1rem;
    margin: 0 2rem;
  }
}