/*webapp color scheme*/
:root {
    --dark: #343a40;
    --light: #e3e8ec;
    --primary: #5d666b;
    --secondary: #a7a7a7;
}

body {
    background-color: var(--light);
    color: var(--secondary);
    width: 100vw;
}

/*header styling start*/
.custom-brand {
    font-size: 2rem;
    color: white;
    letter-spacing: -0.2rem;
}

.social-navs-container {
    flex-direction: row;
}

.nav-link {
    color: var(--secondary);
}

.fa-2x {
    display: inline;
    margin-right: 1rem;
    color: white;
}

.custom-toggler {
    border: none;
}
 
.nav-links-container,
.social-navs-container {
    margin-left: 2rem;
}

.custom-link:hover {
    color: white;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

/*header style end*/

/*hero banner style start*/

.custom-banner {
    margin: 0;
    padding: 0;
}

/*hero banner style ends*/

/*main content styling*/

.page-content {
    margin: 4rem 0;
}

#about-image {
    border-radius: 50%;
    flex-shrink: 2;
    display: block;
    align-self: center;
}

.custom-profile-img-container {
    padding: 5rem;
}

.section-heading {
    font-size: 7.5rem;
    letter-spacing: -0.6rem;
    color: var(--dark);
    margin-left: -0.5rem;
}

.section-sub-heading {
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--primary);
}

.section-text-content {
    padding: 2rem 2rem 0 0;
    color: var(--dark);
    text-align: justify;
    font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

.featured-content a,
.portfolio-content a {
    text-decoration: none;
    color: var(--dark);
}

#featured-content-text {
    width: 80%;
}

.fa-chevron-right {
    display: none;
}

.custom-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

#featured-overlay {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#featured-overlay h5 {
    text-align: center;
}

.featured-content:hover #featured-overlay {
    display: flex;
}

.featured-content:hover #featured-image {
    opacity: 0.2;
}

.featured-content:hover #featured-content-text {
    opacity: 0.2;
}

#featured-btn {
    background-color: var(--light);
    color: var(--dark);
    cursor: pointer;
    border: solid 1px var(--dark);
    font-size: 1rem;
    border-radius: 4px;
    text-align: center;
    padding: 0.5rem;
}

#featured-btn:hover {
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    color: var(--light);
    background-color: var(--primary);
}

.portfolio-content {
    margin-bottom: 2rem;
}

/* .featured-content:hover .fa-chevron-right,
.portfolio-content:hover .fa-chevron-right {
    display: inline;
} */

.featured-content:hover,
.portfolio-content:hover { 
    transform: translateY(-0.2rem);
    transition: transform 150ms;
}

.portfolio-fa {
    padding-bottom: 8rem;
}

.custom-footer {
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    height: 4rem;
}

.footer-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
}

/*recent image style


/*main flex portfolio items
.portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.featured {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
    margin-top: 5%;
    border-bottom: 1px solid var(--primary);
}

.scratch {
    max-width: 40%;
    margin: 0 5% 2% 0;
    background: var(--light);
    padding: 1%;
    display: block;
    box-shadow: 0 1px 4px 0 var(--primary);
    border-radius: 4px;
}

.scratch a {
    text-decoration: none;
    display: inline;
    color: var(--primary);
}

.scratch a img {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 4px;
}

/*flex thumbnails for portfolio
#thumbs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    padding: 0 0 5% 0;
    max-width: 100%;
    margin-top: 5%;
    border-bottom: 1px solid var(--primary);
}

#thumbs li {
    float: left;
    width: 25%;
    margin: 0 5% 2% 0;
    background: var(--light);
    padding: 1%;
    display: block;
    box-shadow: 0 1px 4px 0 var(--primary);
    border-radius: 4px;
    flex: 1;
}

#thumbs li a {
    text-decoration: none;
    display: inline;
    color: var(--primary);
}

#thumbs li a img {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 4px;
}

.description {
    padding: 0 0 0 0.25rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
}

.description div {
    min-width: 90%;
    max-width: 90%;
}

.fas {
    justify-self: flex-end;
    align-self: center;
    display: none;
}

a:hover .fas {
    display: block;
}

.contact-form {
    display: flex;
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--primary);
    max-width: 100%;
    width: 40%;
    margin-top: 4rem;
}

#contact-form {
    width: 100%;
}

.text-input {
    width: 100%;
    max-width: 100%;
    padding: 0.5rem;
    outline: none;
    border: 1px solid var(--dark);
    border-radius: 4px;
    margin-bottom: 4%;
}

input[type="text"] { 
    font-size: 1rem; 
    font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    color: var(--dark);
    font-weight: lighter;
}

button {
    background-color: var(--dark);
    color: var(--light);
    cursor: pointer;
    border: solid 1px var(--dark);
    outline: none;
    font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 1.5rem;
    height: 3rem;
    border-radius: 4px;
    padding: 0 1.5rem;
}

.text-input:hover {
    box-shadow: 0 0 5px #999;
}

button:hover {
    background-color: var(--primary);
    box-shadow: 0 0 5px #999;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    height: 4rem;
    border-top: solid 1px var(--primary);
    box-shadow: inset 0px 4px 8px var(--dark);
}

footer a {
    text-decoration: none;
    color: var(--light);
    padding: 0 2rem;
}

.footer-links a {
    padding: 0 2rem;
}

footer a:hover {
    color: var(--secondary);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}*/